<?xml version="1.0" encoding="UTF-8"?>
<suite name="TestSuite">

	<test name="Test Project with chrome">
		<parameter name="browserTestNG" value="chrome"></parameter>
		<classes>
			<class name="automation.testsuite.Day18_Homework_01_Test" />
			<class name="automation.testsuite.Day18_Homework_02_Test" />

		</classes>
	</test>
	
	<test name="Test Project with firefox">
		<parameter name="browserTestNG" value="firefox"></parameter>
		<classes>
			<class name="automation.testsuite.Day18_Homework_01_Test" />
			<class name="automation.testsuite.Day18_Homework_02_Test" />

		</classes>
	</test>

	<test name="Test Project with MS Edge">
		<parameter name="browserTestNG" value="edge"></parameter>
		<classes>
			<class name="automation.testsuite.Day18_Homework_01_Test" />
			<class name="automation.testsuite.Day18_Homework_02_Test" />

		</classes>
	</test>

</suite>